<a target="_blank" href="https://colab.research.google.com/github/phitterio/phitter-kernel/blob/main/utilities/benchmarks/parameter_estimation/discrete.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [1]:
import pandas
import time
import os
import sys

In [2]:
if os.getenv("COLAB_RELEASE_TAG"):
   !pip install phitter --quiet
else:
   sys.path.append("../../../")

In [3]:
import phitter

In [4]:
df_estimation_time = pandas.DataFrame()

In [5]:
SAMPLE_SIZES = [100, 1000, 10000, 100000, 500000, 1000000]

In [6]:
for distribution_name, distribution_class in phitter.discrete.ALL_DISCRETE_DISTRIBUTIONS.items():
    for size in SAMPLE_SIZES:
        sample = distribution_class(init_parameters_examples=True).sample(size)
        discrete_measures = phitter.discrete.DISCRETE_MEASURES(sample)
        ti = time.time()
        distribution = distribution_class(discrete_measures)
        tf = time.time() - ti
        df_estimation_time.loc[distribution_name, size] = tf

In [7]:
df_estimation_time

                  100     1000    10000   100000  500000  1000000
bernoulli          0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
binomial           0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
geometric          0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
hypergeometric     0.0050  0.0043  0.0035  0.0048  0.0050  0.0030
logarithmic        0.0030  0.0030  0.0045  0.0041  0.0030  0.0030
negative_binomial  0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
poisson            0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
uniform            0.0000  0.0000  0.0000  0.0000  0.0000  0.0000

In [8]:
print(df_estimation_time.to_markdown(floatfmt=".4f"))

|                   |    100 |   1000 |   10000 |   100000 |   500000 |   1000000 |
|:------------------|-------:|-------:|--------:|---------:|---------:|----------:|
| bernoulli         | 0.0000 | 0.0000 |  0.0000 |   0.0000 |   0.0000 |    0.0000 |
| binomial          | 0.0000 | 0.0000 |  0.0000 |   0.0000 |   0.0000 |    0.0000 |
| geometric         | 0.0000 | 0.0000 |  0.0000 |   0.0000 |   0.0000 |    0.0000 |
| hypergeometric    | 0.0050 | 0.0043 |  0.0035 |   0.0048 |   0.0050 |    0.0030 |
| logarithmic       | 0.0030 | 0.0030 |  0.0045 |   0.0041 |   0.0030 |    0.0030 |
| negative_binomial | 0.0000 | 0.0000 |  0.0000 |   0.0000 |   0.0000 |    0.0000 |
| poisson           | 0.0000 | 0.0000 |  0.0000 |   0.0000 |   0.0000 |    0.0000 |
| uniform           | 0.0000 | 0.0000 |  0.0000 |   0.0000 |   0.0000 |    0.0000 |