In [1]:
import sys
sys.path.append("../../../")
import phitter

In [2]:
def get_data(path: str) -> list[float | int]:
    sample_distribution_file = open(path, "r", encoding="utf-8-sig")
    data = [float(x.replace(",", ".")) for x in sample_distribution_file.read().splitlines()]
    sample_distribution_file.close()
    return data

In [3]:
path = "../../../datasets_test/discrete/book2.txt"
data = get_data(path)

In [4]:
phitter_disc = phitter.PHITTER(data, fit_type="discrete")
phitter_disc.fit(n_workers=2)

In [5]:
phitter_disc.df_not_rejected_distributions

Empty DataFrame
Columns: [(distribution, ), (passed, ), (sse, ), (parameters, ), (chi_square, test_statistic), (chi_square, critical_value), (chi_square, p_value), (chi_square, rejected), (kolmogorov_smirnov, test_statistic), (kolmogorov_smirnov, critical_value), (kolmogorov_smirnov, p_value), (kolmogorov_smirnov, rejected)]
Index: []

In [6]:
phitter_disc.df_sorted_distributions_sse

     distribution passed       sse                      parameters  \

0       geometric      ❌  0.000556                     p: 0.004986
1         uniform      ❌  0.003454                   a: 1, b: 5081
2  hypergeometric      ❌  0.011126  N: 3.167e+04, K: 9661, n: 9663
3         poisson      ❌  0.020829                   lambda: 200.6
4     logarithmic      ❌  0.021752                       p: 0.9993

      chi_square                                 kolmogorov_smirnov  \
  test_statistic critical_value p_value rejected     test_statistic
0   11175.292105    5245.908922     0.0     True           0.113127
1  669493.750000    5244.892600     0.0     True           0.806347
2            NaN            NaN     NaN     None           0.999589
3            NaN            NaN     NaN     None           0.641794
4   31682.571372    5245.908922     0.0     True           0.340084


  critical_value p_value rejected
0        0.00684     0.0     True
1        0.00684     0.0     True
2        0.00684     0.0     True
3        0.00684     0.0     True
4        0.00684     0.0     True