In [1]:
import sys
sys.path.insert(0,"../../../")
import phitter

In [5]:
simulation = phitter.simulation.ProcessSimulation()
simulation.add_process("normal", {"mu": 5, "sigma": 2}, "first", new_branch=True, number_of_products=10)
simulation.add_process("exponential", {"lambda": 4}, "second", previous_ids=["first"])
simulation.add_process("exponential", {"lambda": 4}, "ni_idea", previous_ids=["first"])
simulation.add_process("exponential", {"lambda": 4}, "ni_idea_2", previous_ids=["first"], number_of_products=15, number_of_servers=4)

simulation.add_process("gamma", {"alpha": 15, "beta": 3}, "third", new_branch=True)
# simulation.add_process("exponential", {"lambda": 4.3}, "nn", previous_ids=["third"])
simulation.add_process("beta", {"alpha": 1, "beta": 1, "A": 2, "B": 3}, "fourth", previous_ids=["second", "third"], number_of_products=2)
simulation.add_process("exponential", {"lambda": 4.3}, "nn", previous_ids=["third"])


simulation.add_process("exponential", {"lambda": 4.3}, "fifth", new_branch=True)
simulation.add_process("exponential", {"lambda": 4.3}, "sixth", previous_ids=["fourth", "ni_idea", "nn"])
simulation.add_process("beta", {"alpha": 1, "beta": 1, "A": 2, "B": 3}, "seventh", previous_ids=["fifth", "sixth", "ni_idea_2"])

In [8]:
simulation.run(10)

,first,second,ni_idea,ni_idea_2,third,fourth,nn,fifth,sixth,seventh,Total Simulation Time
0,38.940236,0.005457,0.409837,0.881752,37.221295,4.729123,0.244934,0.177185,0.007355,2.004671,45.686842
1,40.108626,0.254508,0.244787,1.017527,36.842088,4.733804,0.109951,0.051700,0.080800,2.372543,47.550281
2,54.191640,0.121482,0.217974,0.878304,35.348666,5.253279,0.424921,0.027106,0.377154,2.136670,62.080225
3,52.303390,0.317469,0.247050,1.080357,48.162915,5.126364,0.197427,0.006664,0.088400,2.622933,60.458556
4,46.188670,0.002117,0.060607,1.015501,39.603028,4.617961,0.086523,0.093126,0.045334,2.565688,53.419770
5,51.837120,0.170601,0.055125,1.087397,33.330372,5.582902,0.180346,0.719244,0.081337,2.202600,59.874560
6,61.703943,0.212583,0.177322,0.933728,70.512843,4.888082,0.025279,0.027105,0.113547,2.812021,78.326494
7,44.925336,0.076859,1.021473,1.591386,40.628648,4.991197,0.171435,0.217537,0.236657,2.997105,53.227153
8,58.746727,0.269441,0.787658,0.643443,36.019988,4.765128,0.105462,0.081944,0.072379,2.682087,66.535762
9,45.064970,0.207442,0.455659,1.304049,58.544107,4.607561,0.126600,0.093014,0.017091,2.592934,65.761693

In [9]:
simulation.simulation_metrics()

                            Metrics      Value
0                        Avg. first  49.401066
1                       Avg. second   0.163796
2                      Avg. ni_idea   0.367749
3                    Avg. ni_idea_2   1.043344
4                        Avg. third  43.621395
5                       Avg. fourth   4.929540
6                           Avg. nn   0.167288
7                        Avg. fifth   0.149462
8                        Avg. sixth   0.112005
9                      Avg. seventh   2.498925
10       Avg. Total Simulation Time  59.292134
11                  Std. Dev. first   7.608047
12                 Std. Dev. second   0.109492
13                Std. Dev. ni_idea   0.315107
14              Std. Dev. ni_idea_2   0.257845
15                  Std. Dev. third  12.067456
16                 Std. Dev. fourth   0.313087
17                     Std. Dev. nn   0.110028
18                  Std. Dev. fifth   0.211046
19                  Std. Dev. sixth   0.112690
20                Std. Dev. seventh   0.314065
21  Std. Dev. Total Simulation Time   9.777236

In [7]:
simulation.run_confidence_interval(number_of_simulations=100)

                            Metrics  LB - Value  AVG - Value  UB - Value
0        Avg. Total Simulation Time   61.032746    61.276207   61.519668
1                        Avg. fifth    0.223456     0.232176    0.240896
2                        Avg. first   49.782386    49.997423   50.212460
3                       Avg. fourth    4.984636     4.999796    5.014956
4                      Avg. ni_idea    0.238321     0.247086    0.255852
5                    Avg. ni_idea_2    1.197474     1.212575    1.227676
6                           Avg. nn    0.223242     0.232317    0.241392
7                       Avg. second    0.238335     0.248236    0.258137
8                      Avg. seventh    2.490850     2.501388    2.511926
9                        Avg. sixth    0.225619     0.233763    0.241906
10                       Avg. third   44.982461    45.401423   45.820385
11  Std. Dev. Total Simulation Time    7.215103     7.506610    7.798116
12                  Std. Dev. fifth    0.217732     0.229086    0.240439
13                  Std. Dev. first    6.135009     6.270388    6.405767
14                 Std. Dev. fourth    0.401118     0.409144    0.417170
15                Std. Dev. ni_idea    0.231409     0.242841    0.254273
16              Std. Dev. ni_idea_2    0.361298     0.374357    0.387416
17                     Std. Dev. nn    0.219372     0.231409    0.243446
18                 Std. Dev. second    0.226642     0.240632    0.254623
19                Std. Dev. seventh    0.286466     0.290716    0.294966
20                  Std. Dev. sixth    0.213927     0.223050    0.232172
21                  Std. Dev. third   11.204555    11.555103   11.905651